<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Skill View</title>
		<link rel="stylesheet" href="/stylesheet/normalize.css" />
		<link rel="stylesheet" href="/stylesheet/skeleton.css" />
		<link rel="stylesheet" href="/stylesheet/style.css" />
	</head>
	<body>
		<h2>Skill Details</h2>
		<ol>
			<% skillInfo.forEach(skill=>{ %>
			<li><%= skill %></li>
			<% }) %>
		</ol>
	</body>
</html>
